<h1 class="p-3 text-center" style="
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.65);
color: white;
font-weight: bold;
border: 1.5px solid #f1f1f1;">Hobby Hub!</h1>

<div class="container" style="
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.65);
color: white;
font-weight: bold;
border: 1.5px solid #f1f1f1;">
    <div class="row mt-5">
        <div class="col">
                <partial name="_Register"></partial>
        </div>
        <div class="col">
                <partial name="_Login"></partial>
        </div>
    </div>
</div>
