@model Hobby

<h1 class="text-center mt-4 p-4" style="
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.65);
color: white;
font-weight: bold;
border: 1.5px solid #f1f1f1;">Create a Hobby</h1>

<div class="container mt-4 p-4" style="
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.65);
color: white;
font-weight: bold;
border: 1.5px solid #f1f1f1;">
    <form asp-controller="HobbyHub" asp-action="Create" method="POST">
        <div class="form-group">
            <label asp-for="Name"></label>
            <span class="text-danger font-weight-bold" asp-validation-for="Name"></span>
            <input class="form-control" asp-for="Name" placeholder="What's your favorite thing to do?">
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <span class="text-danger font-weight-bold" asp-validation-for="Description"></span>
            <textarea class="form-control" asp-for="Description"
placeholder="Explain your favorite pastime to everyone."></textarea>
        </div>
        <button class="btn btn-outline-success">Create</button>
        <a asp-controller="HobbyHub" asp-action="Hub" class="btn btn-outline-danger">Cancel</a>
    </form>
</div>
